body{
    background-color: black;
}
.align{
    text-align: center;
    margin-top: 50px ;
}
P{
    color: white;
}
.align-btn{
   text-align: center;
    background-color: grey;
    height:90px;
    width: 200px;
    margin-left:600px;
    border-radius: 10px;
}
button{
    height: 40px;
    width: 80px;
    border-radius:10px;
    font-size:20px;
}