#traffic-signal{
    border: 8px solid black;
    padding: 10px 3px;
    width: 70px; 
    border-radius: 50px;
    margin:0 auto;
     margin-top:200px ;     
}
#traffic-signal > div{
    width:70px;
    height: 60px;
    border-radius: 50%;
    opacity: .3;
}  

#green{
    background-color: green;
}
#yellow{
    background-color: yellow;
}
#red{
    background-color: red;
}